extend layout
block content
	h1 Ether Calculators - under construction
	p #{content}
	form(action="/calculators", method = "get")
		input(type="text" id="search" class="form-control" ,name="q",placeholder="Txhash/Address/מס חשבון/טרנזקציה" required)
		button.btn.btn-large.btn-primary(type="submit" class="btn btn-primary btn-block") חפש/י ש/י 