extend layout
block content
  style.
    #search{
      display:block;
      margin-bottom:20px;
      margin-top:20px;
    }
    #errormsg{
      color:red;
      display:block;
    }

  block content(dir ='rtl')
    div.container(dir='rtl')
      hr
      label כלי חינמי אשר מאפשר לחקור טרנזקציות וחשבונות ברשת האיתריום. 
      br
      label פותח ב &nbsp
      img(src="http://www.freeiconspng.com/uploads/heart-png-15.png",width="30px")
      label  &nbsp ע"י איתריום ישראל.
      ul
        li חיפוש לפי כתובת ארנק (Address, Public Key)
        li חיפוש לפי מספר טרנזקציה (txHash)
        li הכלי תחת פיתוח מתמיד וצפויים עוד המון עדכונים נוספים.
      hr
    div.container
      form(action="/explorer", method="get",dir="rtl",align="right")
        div(class="row")
          div(class="col-8")
            input(type="text" id="search" class="form-control" ,name="q",placeholder="Txhash/Address/מס חשבון/טרנזקציה" required)
          p(id="errormsg" dir='rtl') #{error}
          div(class="col-4")
            button.btn.btn-large.btn-primary(type="submit" class="btn btn-primary btn-block") חפש/י
// block sidebar
//   .widget
//     h1 Widget
//     p
//       | SIDE WIDGET